* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	background-color: #434343;
	color: inherit;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}
/* Mix */
.wrapper {
	width: 80%;
	min-height: calc(100vh - 220px);
}
.serch__input:hover,
.serch__input:active,
.serch__input:focus,
.serch__btn:focus,
.serch__btn:active,
.serch__btn:hover {
	outline:0px;;
	box-shadow: none;
}
h4 {
	display: inline;
}
/* Header */
.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 70px;
	background-color: #000;
	color: inherit;
}
@media screen and (max-width: 768px) {
  /* For mobile phones: */
  .header{
    height: 120px;
		flex-direction: column;
  }
}
/* Logo */
.logo {
	width: 150px;
	height: 70px;
}
.logo__img {
	width: 100%;
	height: 100%;
}
/* /Logo */
/* Serch */
.serch {
	display: flex;
	align-items: center;
}
.serch__input {
	height: 20px;
}
.serch__btn {
	width: 50px;
	margin: 10px;
	text-align: center;
	cursor: pointer;
}
.serch__icon {
	background-color: inherit;
	color: #434343;
}
/* /Serch */
/* Header */
/* Main */
.main {
	width: 80%;
	margin: 40px auto;
}
.list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	margin: 0 20px;
}
@media screen and (max-width: 768px) {
  /* For mobile phones: */
  .list{
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 10px;
		margin: 0 20px;
  }
}
/* Item */
.item {
	/* position: relative; */
	width: 350px;
	height: 520px;
}
.card {
	display: none;
	height: 100%;
	background-color: #000;
	color: #fff;
	border: 1px solid #fff;
	padding: 10px;
	/* position: absolute; */
}
.card li {
	list-style: none;
}
.item:hover .card{
	display: block;
}
.item:hover .poster{
	display: none;
}
.details {
}
.star {
	background-color: inherit;
	color: #D4AF37;
}
.overview {
	font-size: 16px;
}
.poster {
	display: block;
}
.poster__img {
	width: 100%;
	height: 100%;
}
/* /Item */
/* /Main */
/* Footer */
.footer {
	width: 100%;
	height: 70px;
	margin-top: 20px;
	background-color: #000;
	color: inherit;
}
/* /Footer */
