* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	background-color: #434343;
	color: inherit;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}
/* Mix */
.wrapper {
	width: 80%;
	min-height: calc(100vh - 220px);
}
.serch__input:hover,
.serch__input:active,
.serch__input:focus,
.serch__btn:focus,
.serch__btn:active,
.serch__btn:hover {
	outline:0px;;
	box-shadow: none;
}
h4 {
	display: inline;
	margin-bottom: 10px;
}
.d-none {
	display: none;
}
/* Header */
.header {
	width: 100%;
	height: 70px;
	background-color: #000;
	color: inherit;
}
.header__menu {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* Logo */
.logo {
	width: 150px;
	height: 70px;
	cursor: pointer;
}
.logo__img {
	width: 100%;
	height: 100%;
}
/* /Logo */
/* Serch */
.serch {
	display: flex;
	align-items: center;
}
.serch__input {
	height: 20px;
}
.serch__btn {
	width: 50px;
	margin: 10px;
	text-align: center;
	cursor: pointer;
}
.serch__icon {
	background-color: inherit;
	color: #434343;
}
/* /Serch */
/* Header */
/* Main */
.type {
	background-color: inherit;
	color: #fff;
}
.main {
	width: 80%;
	margin: 40px auto;
}
.list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	margin: 0 20px;
}
/* Item */
.item {
	border: 1px solid #fff;
	height: 550px;
}
.card {
	display: none;
	height: 100%;
	background-color: #000;
	color: #fff;
	padding: 20px 5px 0 5px;
	overflow: hidden;
}
.card li {
	list-style: none;
}
.poster {
	height: 100%;
	display: block;
}
.poster__img {
	width: 100%;
	height: 100%;
  object-fit: cover;
}
.item:hover .card{
	display: block;
}
.item:hover .poster{
	display: none;
}
.details {
}
.star {
	background-color: inherit;
	color: #D4AF37;
}
.overview {
	font-size: 16px;
}
.notfound {
	background-color: inherit;
	color: #fff;
	list-style: none;
}
/* /Item */
/* /Main */
/* Footer */
.footer {
	width: 100%;
	height: 70px;
	margin-top: 20px;
	background-color: #000;
	color: inherit;
}
/* /Footer */

/* Mobile */
@media screen and (max-width: 768px) {
  /* For mobile phones: */
	html {
		font-size: 12px;
	}
	.wrapper {
		width: 100%;
	}
  .list{
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 10px;
		margin: 0 20px;
  }
  .header{
    height: 120px;
		flex-direction: column;
  }
	.logo {
		width: 224px;
	}
	.item {
		width: 100%;
		overflow:hidden;
	}
	.poster__img {
		object-fit: contain;
	}
}
